extends /index

block header
    h1.title Новая заметка

block main  
    form(method="POST")
        div.field
            input(type="text" name="title" palceholder='Название' required)

        div.field
            textarea.textarea(name="content" palceholder='Содержание' required)

        .buttons
            a.button(href="/notes") Отменить
            button.button.is-primary(type='submit') Создать