extends /index

block header
    h1.title= note.title

block main 
    p.subtitle Вы уверены, что хотите удалить заметку?

    form(method="POST")
        a.button(href=`/notes/${note._id}`) Нет
        button.button.is-primary(type='submit') Да